<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handingfei.dingdanprovide.mapper.DingdanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.handingfei.dingdanprovide.entity.Dingdan">
        <id column="id" property="id" />
        <result column="idbh" property="idbh" />
        <result column="jine" property="jine" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, idbh, jine, createtime
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="base" type="com.handingfei.dingdanprovide.entity.Dingdan">
        <id column="id" property="id" />
        <result column="idbh" property="idbh" />
        <result column="jine" property="jine" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <select id="list" resultMap="base">
        select * from dingdan
    </select>

</mapper>
