<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdf.hospitaleurekaclient.mapper.YishengMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hdf.hospitaleurekaclient.entity.Yisheng">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="zhicheng" property="zhicheng" />
        <result column="xl" property="xl" />
        <result column="byyx" property="byyx" />
        <result column="kid" property="kid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, zhicheng, xl, byyx, kid
    </sql>

</mapper>
